/* Reset CSS */
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Gabarito', sans-serif;
}

@media(max-width: 2000px){
  nav {
      position: fixed;
      display: flex;
      width: 100vw;
      padding: 10px 0;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}
nav ul li a{
  font-size: 130%;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
  color: white;
  font-weight: 400;
  letter-spacing: .15em; 
}
}

@media(max-width: 500px){
  nav {
      position: fixed;
      display: flex;
      width: 100vw;
      padding: 1px 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      
  }
  nav ul li{
    list-style: none;
    display:flex;
    margin: 10px;
}
nav ul li a{
  font-size: 100%;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
  color: white;
  font-weight: 200;
  letter-spacing: .01em; 
}
}

.logo{
  height: 11vh;
  width: auto;
  padding-left: 5vw;
  transition: 0.3s ease;
}
.logo:hover{
  height: 12vh;
}

nav ul{
  margin-right: 5vw;
  margin-left: 10vw;
}



nav ul li a:hover{
    color: orange;
    font-size: 150%;

}

.container {
  background-image: url('img/background.jpeg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}
#content {
  height: 20vh;
  margin-top: 150px;
  border-radius: 10px;
  padding: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  
}
h1{
  font-size: 30px;
  margin-bottom: 5px;
  color: white;
  letter-spacing: .15em; 
  font-weight: 400;

}
#username {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
#login-password {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
.login-submit-button {
  margin-top: 5px;
  font-size: 20px;
  transition: 0.3s ease;
  color: grey;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  border: 2px solid black;

}
.login-submit-button:hover{
  font-size: 23px;
}

.text {
  font-weight: 400;
  letter-spacing: .15em; 
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}